<div mat-dialog-content>
  <p style="text-align: center;">Order Summary</p>
  <p>
    <mat-form-field appearance="outline" [style.width.px]=300>
      <mat-label>Customer name</mat-label>
      <input matInput placeholder="Name" [value]="data['customer_name']" readonly>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" [style.width.px]=300>
      <mat-label>Customer mobile number</mat-label>
      <input matInput placeholder="Name" [value]="data['customer_mobile_number']" readonly>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" [style.width.px]=300>
      <mat-label>Customer address</mat-label>
      <input matInput placeholder="Name" [value]="data['address']" readonly>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" [style.width.px]=300>
      <mat-label>Total cost</mat-label>
      <input matInput placeholder="Name" [value]="data['total_cost']" readonly>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" [style.width.px]=300>
      <mat-label>Total items count</mat-label>
      <input matInput placeholder="Name" [value]="data['total_items_count']" readonly>
    </mat-form-field>
  </p>
  <table id="customers">
    <thead>
      <tr>
        <th>S No.</th>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it of product_details;let ind=index ">
        <td>{{ind+1}}</td>
        <td>{{it.item_name}}</td>
        <td>{{it.item_price}}</td>
        <td>{{it.quantity}}</td>
      </tr>
    </tbody>
  </table>
  
</div>