<div class="container">
    <mat-toolbar color="primary">
        <div style="width: 100%;justify-content: space-between;flex-direction: row;display: flex;">
            <span routerLink="/">Create Order</span>
            <span routerLink="/listorder">List Orders</span>
            <!-- <span>Header</span> -->
            <span routerLink="/analytics">Analyse Orders</span>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <mat-card style="position: fixed;bottom: 0;width: 100%;">Developed by Vigneshwaran</mat-card> -->
</div>